.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
}

.header img{
    width: 100%;
    z-index: -100;
    transform: translateY(-40%) rotateZ(-5deg);
    position: relative;
}



.info-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    font-size: 1.4rem;
}

@media screen and (max-width:500px) {
    .info-box{
        font-size: 12px;
    }
    .header img{
        transform: translateY(-30%) rotateZ(-5deg);
    }
}