*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
html{
  min-height: 100vh;
  background-color: #0A1D37;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}