.card{
    color: white;
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    background-color: #C68B59;
}

.info-box-card{
    transform: translateY(-30%);
    background-color: #C68B59;
}

.menu-container{
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 1200px) {
    .card{
        width: 30%;
    }
    .info-box-card{
        transform: translateY(-80%);
    }
}